bin/*
build/*
blib/*
t/*
.project
.classpath
.log
.shipit
*~
*.tmp
.settings
**/build/*
**/blib/*
**/.svn
**/.svn/*
netbeans
*.log
*.db
**dyts
*.o
*.bs
*.old
*.class
*.jar
*.in
*.lo
stamp-h1
config.h
config.sub
config.guess
config.status
*.m4
*.cache
depcomp
install-sh
libtool
ltmain.sh
missing
**/.deps

Makefile

compile

configure

libgexf/\.libs/

libgexf/libgexf\.la

\.vscode/
